<mat-toolbar class="navbar">
  <button mat-raised-button color="warn">FaceLearning</button>
  <span class="space"></span>
  <button mat-raised-button (click)="openLoginDialog()">Sign In</button>
  <span class="gap"></span>
  <button mat-raised-button (click)="openRegisterDialog()">Join Now</button>
</mat-toolbar>

<section id="section1">
  <div id="headline">
    <h1 class="hero__headline">Keep learning in the moments that matter</h1>
    <h2 class="hero_subtitle">
      Courses For Every Step Of Your Career, Work with Real Time Projects
    </h2>
  </div>
  <div><img id="image1" src="../../../assets/image-1.svg" alt="Photo" /></div>
</section>


<section id="section2">

  <mat-tab-group mat-align-tabs="start" class="courses">

    <mat-tab label="All Courses" class="color-tab">
      <div class="all">
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
      </div>
    </mat-tab>

    <mat-tab label="DataStructures" class="color-tab">
      <div class="all">
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Algorithms" class="color-tab">
      <div class="all">
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Gate" class="color-tab">
      <div class="all">
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
        <mat-card><iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></mat-card>
      </div>
    </mat-tab>

  </mat-tab-group>


</section>



<section id="section3">
  <div id="headline2">
    <h1 class="hero__headline2">Find the Right Course At Right Time</h1>
    <h2 class="hero_subtitle2">Accelerate Your Tech Career</h2>
  </div>
  <figure>
    <img id="image2" src="../../../assets/image-2.svg" alt="Photo" />
    <figcaption>Learn On Your Free Time</figcaption>
  </figure>

</section>

<section id="section4">
  <div><img id="image3" src="../../../assets/image-3.jpg" alt="Photo" /></div>
  <div id="headline3">
    <h1 class="hero__headline3">Drive Business Impact</h1>
    <h2 class="hero_subtitle2">Get Access To The Courses To Your Higher Education or For Tech Career</h2>
  </div>
</section>



<section id="section5">
  <div>
    <h1 class="title">Face<br>Academy</h1>
  </div>
  <div>
    <ul>
      <h2>General</h2>
      <li><a href="">Press</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Developers</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <h2>Careers</h2>
      <li><a href="">Interships</a></li>
      <li><a href="">ProFinder</a></li>
      <li><a href="">Jobs</a></li>
      <li><a href="">Salaries</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <h2>Directores</h2>
      <li><a href="">Memebers</a></li>
      <li><a href="">Companies</a></li>
      <li><a href="">Universities</a></li>
      <li><a href="">Learning</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <h2>Business Solutions</h2>
      <li><a href="">Talent</a></li>
      <li><a href="">Marketing</a></li>
      <li><a href="">Sales</a></li>
    </ul>
  </div>
</section>



<section id="section6">
  <mat-toolbar>
    <a href="#">About</a>
    <a href="#">User Agreement</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Cookie Policy</a>
    <a href="#">Copy Right Policy</a>
  </mat-toolbar>
</section>
